$primary: blue;

h1 {
	color: $primary;
}


.tc-card {
    border-radius: 10px;
    background-color: #fff;
    height: 364px;
    overflow: hidden;
    border: 1px solid #efefef;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    &-img {
        margin: auto;
        display: block;
        max-height: 60%;
        max-width: 60%;
        border-radius: 10px 10px 0px 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        &-cont {
            position: relative;
            &-inr {
                height: 240px;
                position: relative;
                background: #fff;
            }
        }
    }
    &-desc {
        height: 24px;
        left: 15px;
        position: absolute;
        bottom: 0px;
    }
    &-body {
        padding: 10px;
    }
    &-title {
        overflow: hidden;
        font-size: 16px;
        line-height: 1.2;
        margin: 5px 0px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 39px;
        font-weight: bold;
    }
    &-prices {
        margin: 7px 0px 15px;
        font-size: 24px;
        &-offer {
            font-weight: bold;
            color: rgb(13, 66, 108);
            margin-right: 20px;
        }
        &-mrp {
            text-decoration: line-through;
            font-style: italic;
            color: rgb(162, 164, 169);
        }
    }
}